<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Создание портфолио</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Space+Grotesk:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1 class="form-title">Создай своё портфолио</h1>
    
    <form action="/generate" method="POST" enctype="multipart/form-data">
        <label for="name">Имя:</label>
        <input type="text" id="name" name="name" required />
        <label for="bio">О себе:</label>
        <input type="text" id="bio" name="bio" required />
        <label for="skills">Навыки:</label>
        <input type="text" id="skills" name="skills" required />
        <label for="skills">Инструменты:</label>
        <input type="text" id="tools" name="tools" required />
        <label for="github">ссылка на github:</label>
        <input type="text" id="github" name="github" required />
        <label for="telegram">ссылка на telegram:</label>
        <input type="text" id="telegram" name="telegram" required />
        <label for="avatar">Аватар:</label>
        <input type="file" id="avatar" name="avatar" accept="image/*">
        <button type="submit">Создать</button>
    <div style="text-align: center; margin-top: 40px;">
        <a href={{url_for('index')}} class="button-secondary">Назад</a>
    </div>
    </form>
    
</body>
</html>