<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title> {{portfolio.name}} Портфолио</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Space+Grotesk:wght@600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div class="container">
    <!-- Левая часть -->
    <div class="profile">
      <img src={{url_for('static', filename=portfolio.avatar if portfolio.avatar else 'placeholder.png')}} alt="Аватар" class="avatar">
      <h1>{{portfolio.name}}</h1>
      <p>{{portfolio.bio}}</p>
      <div style="margin-top: 10px;">
        <a href={{portfolio.telegram}} target="_blank" title="Открыть Telegram">
          <span class="badge">✈️ Telegram</span>
        </a>
      </div>
    </div>

    <!-- Правая часть -->
    <div class="info">
      <h2>Навыки</h2>
      <ul class="skills">
      {% for skill in portfolio.skills %}
        <li> {{skill}}</li>
        {% endfor %}
      </ul>

      <h2>Инструменты</h2>
      <ul class="tools">
        {%for tool in portfolio.tools %}
        <li>{{tool}}</li>
        {% endfor %}
      </ul>
<!--      <ul>-->
<!--        <li class="badge">📄 HTML</li>-->
<!--        <li class="badge">🎨 CSS</li>-->
<!--        <li class="badge">🐍 Python</li>-->
<!--        <li class="badge">🔧 Git</li>-->
<!--        <li class="badge">🐙 GitHub</li>-->
<!--      </ul>-->
      

      <h2>Проекты</h2>
      <div class="projects">
        {% for project in projects %}
        <div class="project-box">
          <h3>{{project.title}}</h3>
          <p>{{project.description}}</p>
          <a href="{{project.link}}" target="_blank">Перейти →</a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</body>
</html>